
@{
    ViewBag.Title = "CreateHouseholdMemberConfirmation";
}



<center>

    <h2>Your invitation has been sent!</h2>

    <br />

<h4>Your Request Is Time-Sensitive. Please Let Your Invited Individual Know About Their Invitation As Soon As Possible!</h4>

    <a href="@Url.Action("Index","Home")" class="btn btn-default">Your Dashboard</a>
</center>
